/* .Parent h1{
    color: red;
} */

/* ">" COMBINATOR */
/* .Parent > h1{
    color: red;
} */

/* "+" COMBINATOR */
/* div + p{
    color:red
} */

/* "~"  COMBINATOR*/
.parent ~ h1{
    color: red;
}