.parent{
    width: 100%;
    height: 100%;
    /* height: 700px; */
    /* height: 150px; */
    border: 5px solid black;
    display: flex;
    font-size: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */
    /* justify-content: start;
    align-items: center; */

    /* GAPS */
    /* gap: 10px 20px; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
} 
/* .parent2{
    width: 100%;
    height: 150px;
    border: 5px solid black;
    display: flex; 
    justify-content: space-between;
}
.parent3{
    width: 100%;
    height: 150px;
    border: 5px solid black;
    display: flex;
    justify-content: space-around;
} */
.child1{
    width: 200px;
    height: 150px;
    background-color: red;
}
.child2{
    width: 200px;
    height: 150px;
    background-color: blue;
}
.child3{
    width: 200px;
    height: 150px;
    background-color: mediumvioletred;
}
.child4{
    width: 200px;
    height: 150px;
    background-color: goldenrod;
}
.child5{
    width: 200px;
    height: 150px;
    background-color: green;
}