.container {
    position: relative;
    width: 450px;
    height: 250px;
    border-radius: 25px;
    background: rgb(236, 119, 17);
    border: 2px solid black;
}
.small-image {
    position: absolute;
    width: 70px; 
    height: auto; 
    top: 50px;
    right: 350px;
}
.small-image1 {
    position: absolute;
    width: 200px; 
    height: auto; 
    top: 30px;
    right: 40px;  
}
h3{
    position: absolute;
    top: 110px;
    right: 560;
    color: whitesmoke;
}
h2{
    position: absolute;
    top: 130px;
    right: 470;
    color: whitesmoke;
}
h4{
    position: absolute;
    top: 150px;
    right: 300px;
    color: whitesmoke; 
}
h1{
    position: absolute;
    top: 160px;
    right: 300px;
    color: whitesmoke;  
}
.name{
    position: absolute;
    top: 200px;
    right: 580px;
    color: whitesmoke; 
}